/* Base */

* {
  box-sizing: border-box;
}

body {
  background: url('../img/bg.png') no-repeat center center/cover;
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: var(--space-xl);
}

h1,
h2,
h3,
h4 {
  margin: var(--space-md) 0;
}

.income {
  color: var(--color-income) !important;
}

.expense {
  color: var(--color-expense) !important;
}
