@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0 20px;
}

h1 {
  margin: 40px 0 0;
}

.values {
  display: flex;
  align-items: center;
}

.total-value {
  padding: 20px 40px;

  h3 {
    margin: 0;
  }
}

#category-total-value {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px 20px;
  margin: 0;
  padding: 10px;
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
}

.container-list {
  width: 40%;
}

.container-input {
  width: 40%;
  margin-left: 40px;
}

.form-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-item label {
  width: 80px;
  margin-right: 10px;
}

#category-tags {
  flex-wrap: wrap;
  display: flex;
}

.tag {
  cursor: pointer;
  color: #fff;
  background-color: var(--tag-bg);
  padding: 8px 16px;
  margin: 0 10px 5px 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;

  transition:
    background-color 0.2s ease,
    transform 0.1s ease;

  &[data-type="income"] {
    --tag-bg: #7eb6b8;
    --tag-bg-hover: #3d7d85;
  }

  &[data-type="expense"] {
    --tag-bg: #f3a69f;
    --tag-bg-hover: #ee847b;
  }

  &:hover,
  &.is-selected {
    background-color: var(--tag-bg-hover);
  }

  &:active {
    transform: scale(0.98);
  }
}

.form-item--amount {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#note-input,
#amount-input {
  width: 100%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  margin-left: 10px;
  color: #9d9d9d;
  transition: color 0.1s ease-in-out;
}

.delete-btn:hover {
  color: #1d1d1d;
}

@media (max-width: 768px) {
  #category-total-value {
    height: 100%;
  }
}

@media (max-width: 992px) {
  .total-value {
    padding: 20px 20px;
  }
}
