/* Button */

.btn {
  cursor: pointer;
  background-color: #fff;
  color: var(--color-btn-blue);
  border: 1px solid var(--color-btn-blue);
  padding: var(--space-sm) var(--space-lg);
  border-radius: 0.375rem;
  font-size: var(--text-xs);
  font-weight: bold;
  font-family: var(--font-main);
  letter-spacing: -0.5px;
}

.btn:hover {
  box-shadow: 0 0.125rem calc(1rem * (5 / 16)) rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.1);
}
