/* Form */

.transactions-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 22.5rem;
}

.form-container {
  display: grid;
  width: 100%;
  gap: 0.625rem;
  grid-template-columns: repeat(3, 1fr);
}

.form-item {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: var(--space-xl);
  position: relative;
}

.form-item input,
.form-item select {
  height: 2.5rem;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--color-border);
  border-radius: 0.375rem;
  font-size: var(--text-sm);
}

.form-item select {
  cursor: pointer;
  appearance: none;
  font-family: inherit;
}

.form-item i {
  position: absolute;
  top: calc(50% + var(--space-xs));
  right: var(--space-sm);
}

.form-item label {
  width: 5rem;
  margin-bottom: var(--space-xs);
  font-weight: bold;
}

.announce {
  margin: 0;
  margin-bottom: var(--space-lg);
  font-size: var(--text-sm);
}

.announce-red {
  color: var(--color-expense);
}

.announce-empty {
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
  text-align: center;
}

.category-select.placeholder,
input::placeholder {
  color: var(--color-text-gray);
  font-family: var(--font-main);
}

.category-select {
  color: #000;
}

.category-select option {
  color: #000;
}

.sort-select {
  cursor: pointer;
  background-color: #fff;
  color: var(--color-text-gray);
  padding: var(--space-sm) var(--space-sm);
  border-radius: 0.375rem;
  font-size: var(--text-xs);
  font-weight: bold;
  appearance: none;
  font-family: var(--font-main);
  text-align: center;
  letter-spacing: -0.5px;
}

.sort-select option {
  color: #000;
}

.form-button-container {
  margin: 1.875rem 0 var(--space-xl);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 0.625rem;
}

.btn.clear-btn,
.btn.submit-btn {
  font-size: var(--text-2xs);
}

.btn.submit-btn,
.btn.clear-btn {
  font-size: var(--text-sm);
  padding: var(--space-md) 1.5rem;
}

.submit-btn {
  color: #fff;
  background-color: var(--color-btn-blue);
  border: 1px solid var(--color-btn-blue);
}
